!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %header

    .contents
      =render partial:"shared/left"
    



      .right
        .right__top
          %ul
            %li
              %h3.right__top__gname チャットネイム
            %li.right__top__edit
              =link_to "Edit", '/', :class => "right__top__btn1"
            %li
              %p.right__top__member Member:

        .right__middle
          =render @messages
          -# .right__chat1
          -#   .right__chat1__user
          -#     = message.user.name
          -#   .right__chat1__time
          -#     = message.created_at.strftime("%Y/%m/%d %H:%M")
          -# .right__chat2
          -#   - if message.content.present?
          -#     .right__chat2__msg
          -#       = message.content
          -#     = image_tag message.image.url, class: 'right__chat2__img' if message.image.present?
          
        .right__bottom
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'right__text__input', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'right__text__msg' do
                = fa_icon 'camera-retro', class: 'imageicon'
                = f.file_field :image, class: 'hidden'
              = f.submit 'Send', class: 'right__btn2'